<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="../../node_modules/@webcomponents/custom-elements/custom-elements.min.js"></script>
  <script src="../../node_modules/@webcomponents/shadydom/shadydom.min.js"></script>
  <script src="../../node_modules/@webcomponents/template/template.min.js"></script> -->
  <script src="../../node_modules/@webcomponents/html-imports/src/html-imports.js"></script>
  <!-- 这个顺序不能错，错就爆栈 -->
  <link rel="import" href="./Page/Index.html">  
  <link rel="import" href="./Section/Header.html">
  <link rel="import" href="./Section/Main.html">
  <link rel="import" href="./Section/Footer.html">
  <title>首页</title>
</head>
<body>
    <my-index></my-index>
</body>
</html>
